* {
  margin: 0px;
  padding: 0px;
}

/* NAVIGATION STARTS HERE!!! */

.mainrapper {
  background-color: rgba(224, 224, 224, 0.5);
  height: fit-content;
  padding: 0px 70px;
}

.nav {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.sig {
  font-size: 16px;
  font-family: "Jost", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.sig svg {
  height: 16px;
  width: 16px;
}

.content {
  font-size: 32px;
  font-family: "Jost", sans-serif;
}

.dot {
  color: rgb(134, 132, 131);
  height: 10px;
  width: 10px;
}

.search {
  font-size: 16px;
  font-family: "Jost", sans-serif;
  display: flex;
  align-items: baseline;
  justify-content: baseline;
  gap: 5px;
}

.search svg {
  height: 16px;
  width: 16px;
}

.food {
  font-size: 16px;
  font-family: "Jost", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding-top: 80px;
}

.content {
  display: flex;
  align-items: baseline;
  justify-content: baseline;
}

.cat svg {
  height: 14px;
  width: 14px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #c1a59d;
}

.page {
  color: #c1a59d;
}

/* NAVIGATION ENDS HERE!!!!! */

/* PICTURE START HERE!!! */

.mainbody {
  height: 100%;
  margin: 0px auto;
  padding-top: 60px;
}

.img {
  position: relative;
  height: 500px;
  width: 100%;
  background-image: url("../RESOURCES/jimmy-dean-Yn0l7uwBrpw-unsplash.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.larrow {
  position: absolute;
  background-color: white;
  left: -25px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.larrow svg {
  height: 16px;
  width: 16px;
}

.rarrow {
  position: absolute;
  background-color: white;
  right: -25px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rarrow svg {
  height: 16px;
  width: 16px;
}

.rect {
  position: absolute;
  background-color: white;
  height: fit-content;
  width: fit-content;
  padding: 30px 45px;
  border-radius: 1px;
  bottom: -50px;
}

.LOgo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.FFb {
  height: 35px;
  width: 35px;
  border-radius: 5px;
  background-color: rgba(230, 230, 230, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.FFb svg {
  color: black;
  height: 16px;
  width: 16px;
}

.text {
  font-size: 32px;
  font-family: "Playfair Display", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fo {
  font-size: 16px;
  font-family: "Jost", sans-serif;
  color: #c4a57b;
  margin-top: 25px;
}

.sfar {
  font-size: 16px;
  font-family: "Jost", sans-serif;
  padding-top: 10px;
}

.date {
  color: rgb(187, 187, 187);
  font-size: 16px;
  font-family: "Jost", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}

.date svg {
  height: 16px;
  width: 16px;
}

/* PICTURE PART ENDS HERE!!!!! */

/* BIG SENTENCE STARTS HERE */

.Logo {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reverse {
  display: flex;
  align-items: start;
  gap: 50px;
  width: 90%;
}

.Logo span {
  font-size: 14px;
  font-family: "Jost", sans-serif;
  font-weight: 400;
}

.Fb {
  height: 35px;
  width: 35px;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Fb svg {
  color: black;
  height: 18px;
  width: 18px;
}

.long {
  display: flex;
  margin-top: 90px;
  gap: 60px;
}

/* SENTENCES */

.F span {
  font-size: 72px;
}

p {
  font-size: 14px;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.para {
  margin-top: 15px;
}

h4 {
  margin: 15px 0px;
  padding: 0px;
  font-weight: 500;
  font-size: 28px;
  font-family: "Playfair Display", serif;
}

/* SFORM */
.scard {
  height: fit-content;
  width: 25%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.image {
  background-image: url("../RESOURCES/jimmy-dean-Yn0l7uwBrpw-unsplash.jpg");
  background-size: cover;
  height: 180px;
  width: 100%;
  border-radius: 2px;
}

.sub {
  font-size: 18px;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  padding-top: 5px;
}

.fa {
  font-size: 16px;
  font-family: "Jost", sans-serif;
  margin-top: 15px;
  width: 100%;
}

.mont {
  font-size: 16px;
  font-family: "Jost", sans-serif;
}

.email {
  width: 100%;
}

.email input {
  height: 40px;
  width: 100%;
  margin-top: 15px;
  border-radius: 3px;
  border: none;
  box-shadow: 0.5px 0.5px 1px grey;
  outline: none;
}

.subs {
  background-color: #c1a57b;
  color: white;
  font-size: 16px;
  font-family: "Jost", sans-serif;
  border: none;
  border-radius: 3px;
  height: 40px;
  width: 100%;
  margin-top: 5px;
}

/* BIG SENTENCE ENDS HERE */

/* DOWN LINE */

.line {
  border-bottom: 1px solid lightgray;
  width: 100%;
  margin-top: 90px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 20px;
}

.fb {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fb svg {
  color: grey;
  height: 18px;
  width: 18px;
}

.TEXT {
  font-size: 16px;
  font-family: "Jost", sans-serif;
  width: fit-content;
  margin: 30px auto;
}

.love {
  font-size: 18px;
  color: red;
}

.term {
  font-size: 14px;
  font-family: "Jost", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  padding-bottom: 50px;
}

.MAINGRID {
  display: grid;
  grid-template-columns: 10% 10% 10% 10%;
  margin-top: 30px;
}

.Grid {
  gap: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.iM {
  height: 200px;
  width: 250px;
  background-image: url("../RESOURCES/jimmy-dean-Yn0l7uwBrpw-unsplash.jpg");
  background-size: cover;
}

.twoim {
  height: 200px;
  width: 250px;
  background-image: url("../RESOURCES/christina-wocintechchat-com-VpcgTEKerEQ-unsplash.jpg");
  background-size: cover;
}

.Tim {
  height: 200px;
  width: 250px;
  background-image: url("../RESOURCES/milan-popovic-FHvpa4-Fpu8-unsplash.jpg");
  background-size: cover;
}

.FOOD {
  font-size: 16px;
  font-family: "Jost", sans-serif;
  color: #c1ab91;
  margin-top: 10px;
}

.FAR {
  font-size: 20px;
  font-family: "Playfair Display", serif;
  margin-top: 5px;
}

.DATE {
  color: rgb(187, 187, 187);
  font-size: 16px;
  font-family: "Jost", sans-serif;
  margin-top: 10px;
}

.DATE svg {
  height: 16px;
  width: 16px;
}

.country {
  font-size: 16px;
  margin-top: 15px;
  font-family: "Jost", sans-serif;
}

.today-wrapper {
  width: fit-content;
  margin: 0px auto;
  margin-top: 70px;
}

.rec {
  height: 10px;
  width: 100%;
  background-color: #c1a57b;
  margin-top: -8px;
}

.today {
  margin: 0px auto;
  font-size: 18px;
  font-weight: 600;
  font-family: "Jost", sans-serif;
}

.menuIcon {
  display: none;
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* MEDIA QUERY */

@media (max-width: 480px) {
  * {
    overflow-x: hidden;
  }

  .mainrapper {
    padding: 0px 15px;
  }

  .mainbody {
    margin: 0px 0px;
    padding-top: 20px;
  }

  .menuIcon {
    display: flex;
  }

  .sig {
    display: flex;
    align-items: end;
    justify-content: end;
    font-size: 12px;
  }

  .search {
    display: none;
  }

  .food {
    display: none;
  }

  .img {
    height: 900px;
    width: 100%;
  }

  .larrow {
    display: none;
  }

  .rarrow {
    display: none;
  }

  .rect {
    height: 350px;
    width: 70%;
    border-radius: 1px;
    bottom: -60px;
  }

  .text {
    font-size: 36px;
    text-align: center;
  }

  .reverse {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  .long {
    display: flex;
    flex-direction: column;
  }

  .Logo {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
  }

  .icon-wrapper {
    display: flex;
    gap: 10px;
  }

  p {
    font-size: 18px;
  }

  .scard {
    width: 90%;
    height: 470px;
    padding: 15px;
  }

  .image {
    height: 300px;
    width: 100%;
    margin-top: 0px;
  }

  .sub {
    font-size: 20px;
    width: 100%;
    padding-top: 5px;
  }

  .fa {
    font-size: 18px;
  }

  .subs {
    margin-top: 15px;
  }

  .MAINGRID {
    display: grid;
    grid-template-columns: auto;
    margin-top: 30px;
  }

  .Grid {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
  }

  .today {
    font-size: 22px;
    margin-bottom: 5px;
  }

  .FOOD {
    font-size: 22px;
  }

  .FAR {
    font-size: 34px;
  }

  .DATE {
    font-size: 18px;
  }

  .DATE svg {
    height: 18px;
    width: 18px;
  }

  .country {
    font-size: 22px;
  }

  .iM {
    height: 300px;
    width: 100%;
  }

  .twoim {
    height: 300px;
    width: 100%;
  }

  .Tim {
    height: 300px;
    width: 100%;
  }

  .TEXT p {
    width: 90%;
    text-align: center;
    margin: auto;
  }
}

@media (max-width: 768px) {
  * {
    overflow-x: hidden;
  }

  .mainrapper {
    padding: 0px 30px;
  }

  .img {
    height: 900px;
    width: 100%;
  }

  .larrow {
    display: none;
  }

  .rarrow {
    display: none;
  }

  .rect {
    height: 350px;
    width: 70%;
    border-radius: 1px;
    bottom: -60px;
  }

  .text {
    font-size: 36px;
    text-align: center;
  }

  .reverse {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }

  .Logo {
    margin-top: 15px;
    display: flex;
  }

  .long {
    display: flex;
    flex-direction: column;
  }

  .icon-wrapper {
    flex-direction: row;
  }

  .scard {
    width: 80%;
    padding: 20px;
    margin-left: 40px;
  }

  .sub {
    width: 100%;
    padding-top: 15px;
  }

  .fa {
    font-size: 20px;
  }

  .image {
    height: 500px;
  }

  .MAINGRID {
    grid-template-columns: auto auto;
  }

  .Grid {
    gap: 30px;
    grid-template-columns: auto auto;
  }

  .email input {
    height: 50px;
    margin-top: 20px;
  }

  .subs {
    font-size: 18px;
    border-radius: 3px;
    height: 50px;
    margin-top: 10px;
  }

  p {
    font-size: 16px;
  }

  .iM {
    height: 250px;
    width: 100%;
  }

  .twoim {
    height: 250px;
    width: 100%;
  }

  .Tim {
    height: 250px;
    width: 100%;
  }

  .FAR {
    font-size: 24px;
    font-family: "Playfair Display", serif;
    margin-top: 5px;
  }
}
